* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

/* inputs */

input, textarea {
	padding: .5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	width: 100%;
}

/*header*/

.header {
	display: flex;
	justify-content: right;
	position: fixed;
	height: 80px;
	width: 100%;
	/*margin: 1rem 0 0 0;*/
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: #000 1px 0 3px;
	align-items: center;
}

.user-details {
	margin: 0 auto 0 2rem;
}

.user-photo-wrapper {
	display: flex;
	align-items: center;
}

.user-photo {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.toggle {
	cursor: pointer;
	padding: 1rem;
}

.dropdown {
	display: none;
	position: absolute;
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	top: 80px;
	width: 200px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 999999;
}

.option {
	display: flex;
	justify-items: flex-start;
	align-items: center;
	color: #5c5c5c;
	cursor: pointer;
	padding: 1rem;
	transition: background-color .3s ease;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
}

.option i {
	margin: 0 .5rem 0 0;
}

.option:visited {
	color: #5c5c5c;
}

.option:hover {
	background: #ccc;
	text-decoration: none;
}

.option:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.dropdown.dropdown-visible {
	display: flex;
	flex-direction: column;
	justify-items: center;
	border-bottom: none;
}

.logo-wrapper {
	display: flex;
	align-items: center;
}

.logo-wrapper > span {
	background: #fff;
	color: #5c5c5c;
	font-size: 1.25rem;
	margin: 0 0 0 .5rem;
}

.logo-wrapper > div {
	border-radius: 5px;
	width: 50px;
	height: 50px;
	margin: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
}

.logo {
	background: no-repeat url('../assets/images/logo.jpg');
	background-size: cover;
	width: 70%;
	height: 80%;
}

/* popup */

.popup {
	overflow-y: hidden;
	width: 500px;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	border-radius: 5px;
	box-shadow: #000 1px 0 10px;
}

.popup-header {
	box-sizing: border-box;
	padding: 2rem;
	font-size: 20px;
	font-weight: 500;
	background: #fafafa;
	color: #5c5c5c;
	text-align: center;
}

.popup-content {
	padding: 2rem;
}

/* buttons */

button {
	cursor: pointer;
	padding: .5rem 2rem;
	background: #5574cf;
	color: #fafafa;
	border-radius: 5px;
	border: 2px solid #ccc;
	transition: all .3s ease;
	font-weight: 500;
}

button:hover {
	background: #385fd1;
}

.no-valid {
	border: 2px solid red;
	box-shadow: red 1px 1px 4px;
}

.no-valid:focus-visible {
	outline: none;
}

.delete-button {
	background: #cf0c0c;
}

.delete-button:hover {
	background: #e60e0e;
}

/* queries */

@media screen and (min-width: 300px) and (orientation: portrait) {
    .popup {
        width: 70vw;
    }
}